PORT=5000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development


DATABASE_URL="postgresql://postgres:root@localhost:5432/savebite_dev?schema=public"
DATABASE_USER="postgres"
DATABASE_PASSWORD="root"
DATABASE_NAME="savebite_dev"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"


JWT_SECRET="5dS0NyOqQgFBkXpXUwJKGQc8mEFMgpg2gZKdWhnVvwsurtMAXXjmjyS86t6DSCGv0YdZCjpW2NJXO5VKsWJwxS"